CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.cproject
.project
dotprint.code-workspace
build/
README.md
.gitignore
.git/
Dockerfile
ubuntu.Dockerfile
.dockerignore
build-docker.sh
convert.sh
convert-accounting-files.sh
